<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<style>

body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1505685296765-3a2736de412f")
no-repeat center/cover;
font-family:Arial;
}

form{
background:rgba(0,0,0,0.8);
padding:40px;
border-radius:10px;
color:white;
}

input{
display:block;
margin:15px 0;
padding:10px;
width:250px;
}

button{
padding:10px;
width:100%;
background:red;
border:none;
color:white;
}

</style>

</head>

<body>

<form action="/login" method="post">

<h2>Login</h2>

<input type="text" placeholder="Username" required>

<input type="password" placeholder="Password" required>

<button type="submit">Login</button>

</form>

</body>
</html>